<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ventana Oak Apartment Homes</title>
	<link rel="stylesheet" href="../static/styles/index.css">
</head>

<body class="body-amenities">
	<header>
	<nav class="navbar">
			<img src="../images/logo.png"></img>
			<a href="index.html">HOME</a>
				<div class="dropdown">
					<button class="dropbtn">COMMUNITY INFORMATION
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/amenities.html">Amenities</a>
						<a href="listing.html">Floor Plan</a>
												<a href="sitemap.html">Property Map</a>

					</div>
				</div>
					<a href="contact.html">CONTACT US</a>
					<a href="tour.html">SCHEDULE TOUR</a>
			
		</nav>

	</header>
	
		<main>

		<section>
			<h2 style="font-family:'Lato','Lato Local Fallback',sans-serif;">AMENITIES</h2>
			<p style="font-family:'Lato','Lato Local Fallback',sans-serif; font-size: large;">Our apartments offer a stellar selection of features and amenities that contribute to easy, stress-free living. Enjoy spacious one- and two-bedroom floor plans with carpet or hardwood-style flooring, a cozy fireplace (in select apartment homes), a spacious kitchen with a full appliance package, a private patio or balcony, and more. At Meadows Apartment Homes, you’ll also love our beautiful swimming pool complete with poolside lounging, fitness center with free weights, welcoming community clubhouse, convenient laundry care center, and outdoor grill and picnic area. Contact us for more details!</p>
			
		</section>
	</main>


	</div>

	</nav>

	</div>
</body>

</html>