<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>XYZ Appartment</title>
	<link rel="stylesheet" href="../static/styles/index.css">
</head>
<style>
	body {

		background-color: beige;

	}

	.body-contact {
		font-family: Oswald;
		font-size: larger;
		padding: 30px;
		margin: 0;
		margin: 0;

	}

	table,
	th,
	td {
		border: 1px;
		solid: darkgoldenrod;
		text-align: center;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;

	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		text-align: center;
	}
</style>

<body>
	<header>

		<nav class="navbar">
			<img src="../images/logo.png"></img>
			<a href="index.html">HOME</a>
			<div class="dropdown">
				<button class="dropbtn">COMMUNITY INFORMATION
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="../templates/amenities.html">Amenities</a>
					<a href="listing.html">Floor Plan</a>
					<a href="sitemap.html">Property Map</a>

				</div>
			</div>
			<a href="contact.html">CONTACT US</a>
			<a href="tour.html">SCHEDULE TOUR</a>

		</nav>

	</header>
	<main>
		<section id="Floorplan -section">
			<h2>Floor Plan</h2>
			<div id="Floorplan-container"></div>
		</section>
		<section id="listings">
			<h3>Available Apartments</h3>

			<table>

				<tr>
					<th>Floor Plan</th>
					<th>Area</th>
					<th>Rent</th>
					<th>Details</th>
				</tr>
				<tr>
					<td>Cypress</td>
					<td>900 sqft</td>
					<td>$1500</td>
					<td>1 bed , 1 bath with attached laundry</td>
				</tr>
				<tr>
					<td>Pecan</td>
					<td>1400sqft</td>
					<td>$2200</td>
					<td>2 bed , 2 bath with attached garage and laundry</td>
				</tr>
				<tr>
					<td>Walnut</td>
					<td>1800sqft</td>
					<td>$2500</td>
					<td>2 bed, 2 bath with attached garage and laundry</td>
				</tr>
				<tr>
					<td>Dogwood</td>
					<td>2000sqft</td>
					<td>$3000</td>
					<td>3 bed, 2 bath with attached garage and laundry</td>
				</tr>
			</table>

</body>

</html>