<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ventana Oak Apartment Homes</title>
	<link rel="stylesheet" href="../static/styles/index.css">
</head>

<style>
	.center{
		display: block;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
</style>
<body class="body-index">
	<header>
		<nav class="navbar">
			<img src="../images/logo.png"></img>
			<a href="index.html">HOME</a>
				<div class="dropdown">
					<button class="dropbtn">COMMUNITY INFORMATION
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/amenities.html">Amenities</a>
						<a href="listing.html">Floor Plan</a>
												<a href="sitemap.html">Property Map</a>

					</div>
				</div>
					<a href="contact.html">CONTACT US</a>
					<a href="tour.html">SCHEDULE TOUR</a>
			
		</nav>
	</header>
	
		<main>

		<section>
			<h2 style="font-family:'Lato','Lato Local Fallback',sans-serif;">SITE MAP</h2>
			<img src="../images/sitemap.png"  class="center"></img>

			
		</section>
	</main>


	</div>

	</nav>

	</div>
</body>

</html>